body {
  background:#0f172a;
  color:white;
  font-family:Arial;
}

header {
  background:#020617;
  padding:15px;
  display:flex;
  justify-content:space-between;
}

.box {
  background:#020617;
  padding:20px;
  margin:20px auto;
  width:300px;
  border-radius:10px;
}

input, button {
  width:100%;
  padding:10px;
  margin-top:10px;
}

button {
  background:#38bdf8;
  border:none;
  font-weight:bold;
}

.app {
  background:#0f172a;
  padding:10px;
  margin-top:10px;
  border-radius:5px;
}
